[submodule "submodules/growthbeat-core-ios"]
	path = submodules/growthbeat-core-ios
	url = https://github.com/SIROK/growthbeat-core-ios.git
[submodule "submodules/growthpush-ios"]
	path = submodules/growthpush-ios
	url = https://github.com/SIROK/growthpush-ios.git
